@page
@model HandicraftSMng_HuynhNgThaiDuong_SE171581.Pages.HCCategory.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align: center; margin-bottom: 7%">Edit Handicraft Category</h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HandicraftCategory.HandicraftCategoryId" />
            <div class="form-group" style="margin-bottom: 5%">
                <label asp-for="HandicraftCategory.HCCategoryName" class="control-label" style="font-weight:bold"></label>
                <input asp-for="HandicraftCategory.HCCategoryName" class="form-control" />
                <span asp-validation-for="HandicraftCategory.HCCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> | <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
